@define-color selected-text #4385BE;
@define-color text #CECDC3;
@define-color base #100F0F;
@define-color border rgba(255,255,255,0.3);
@define-color foreground #CECDC3;
@define-color background #100F0F;
